//
   Created by p2admin on 11/19/2015.

doctype html
html
   head
      title object picking with three.js
      | &#x9;&#x9;
      script(type='text/javascript', src='javascripts/_libs/three.min.js')
      | &#x9;&#x9;
      script(type='text/javascript', src='javascripts/_libs/TrackballControls.js')
      | &#x9;&#x9;
      script(type='text/javascript', src='javascripts/box.js')
      | &#x9;&#x9;
      link(rel='stylesheet', href='stylesheets/_css/style.css', type='text/css', media='screen')
   | &#x9;
   body
      h1
         | object picking with three.js -
         a(href='http://soledadpenades.com/articles/three-js-tutorials/object-picking/') tutorial
      | &#x9;&#x9;
      #container
