//
   Created by Max Yi Ren on 3/7/2015.
extends layout
block content

    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand
                            | Impressionist
                        nav
                            ul.nav.masthead-nav
                                li.active
                                    a(href='/index')
                                        | Home
                                li
                                    a(href='/game')
                                        | Game
                                li
                                    a(href='/stats')
                                        | Stats
                .inner.cover
                    //#menu
                    //    .button.mouse-look
                    //      | Enable Mouse Look
                    //    .button.full-screen
                    //      | Start VR Mode
                    #game
                        #wait
                        #title
                            | impressionist
                        #menu
                            #bar
                            #timebar
                            #time
                                | T
                            #score
                                | 0
                            #select
                                | S
                            input(id='guessinput', type='text', value='your guess', name='guessinput', onfocus="if(this.value=='your guess') {this.value='';}", onblur="if(this.value=='') {this.value='your guess';}")
                            #guessoutput
                        #model
                .mastfoot
                    .inner
                        p
                            | by Max Yi Ren and Fabian Gadau, Arizona State University, 2015

    script(src="stylesheets/bootstrap/js/bootstrap.min.js")
    script(src="javascripts/gamescripts/game.js")