//
   Created by Max Yi Ren on 3/7/2015.
extends layout
block content
    //#menu
    //    .button.mouse-look
    //      | Enable Mouse Look
    //    .button.full-screen
    //      | Start VR Mode
    #game
        #wait
        #title
            | impressionist
        #menu
            #bar
            #timebar
            #time
                | T
            #score
                | 0
            #select
                | S
            input(id='guessinput', type='text', value='your guess', name='guessinput', onfocus="if(this.value=='your guess') {this.value='';}", onblur="if(this.value=='') {this.value='your guess';}")
            #guessoutput
        #model
    script(src="javascripts/gamescripts/game.js")
    //script(src="javascripts/gamescripts/object.js")
    //script(src="obj/BMW 328/BMW328MP.js")
    //script(src="obj/fedora/fedora.js")
    //script(src="obj/Lampost/LampPost.js")
    //script(src="obj/Dino/Dino.js")
    //script(src="javascripts/gamescripts/test.js")
