//
   Created by Max Yi Ren on 3/7/2015.
extends layout
block content
    #menu
        .button.mouse-look
          | Enable Mouse Look
        .button.full-screen
          | Start VR Mode
    script(src="javascripts/gamescripts/game.js")
    script(src="javascripts/gamescripts/fabian.js")
