//
   Created by Max Yi Ren on 3/7/2015.
extends layout
block content


    #fb-root
    script.
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    script.
        $(document).on("pagecreate", "#home", function () {
            $("p").on("tap", function () {
                $('#home h1').html('page init!');
            });
        });

    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand
                            | Impressionist
                        nav
                            ul.nav.masthead-nav
                                li.active
                                    a
                                        | Home
                                li
                                    a
                                        | Game
                #home.inner.cover
                    h1.cover-heading
                        | Welcome to Impressionist
                    p.lead.
                        From two 3D objects, please choose the one with more information <br>
                    #entry.btn.btn-lg.btn-default
                        | Let's just try it out!
                #wait.inner.cover
                    p.lead
                        | Loading object...
                    span.glyphicon.glyphicon-refresh.spinning
                #continue.inner.cover
                    #continue_btn.btn.btn-lg.btn-default
                        | Continue
                #game
                    #score
                    #model(tabindex='0')


                    //#rotate.rt_left
                    //    i.fa.fa-shield.fa-rotate-90
                    //#rotate.rt_right
                    //    i.fa.fa-shield.fa-rotate-270
                    //#rotate.rt_up
                    //    i.fa.fa-shield.fa-rotate-180
                    //#rotate.rt_down
                    //    i.fa.fa-shield

                #stat
                    #objlist
                    #comp_model1(tabindex='0')
                    #comp_model2(tabindex='0')
                    //#cmp.rt_left
                    //    i.fa.fa-shield.fa-rotate-90
                    //#cmp.rt_right
                    //    i.fa.fa-shield.fa-rotate-270
                    //#cmp.rt_up
                    //    i.fa.fa-shield.fa-rotate-180

                    #cmp_left.btn-default.btn.btn-lg
                        | Choose This
                    #cmp_right.btn-default.btn.btn-lg
                        | Choose This
                    #cmp_skip.btn-default.btn.btn-lg
                        | Skip

                    #menu
                        input(id='guessinput', type='text', value='your guess', name='guessinput', onfocus="if(this.value=='your guess') {this.value='';}", onblur="if(this.value=='') {this.value='your guess';}")
                        #guessoutput

                #instruction(class='modal fade',role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-body
                                p
                                button(type="button", class="btn btn-default", data-dismiss="modal")
                                    |OK I got it
                #scoreboard(class='modal fade',role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button(type='button',class='close',data-dismiss="modal",aria-hidden="true")
                                    |&times;
                                h4.modal-title
                            .modal-body
                                #myscore
                                #myrank
                                #amt
                            .modal-footer
                                button(type="button", class="btn btn-default", data-dismiss="modal")
                                    |Close
                .mastfoot
                    .inner
                        #numPlayer
                        br
                        br

                        .fb-like(data-href='http://impressionist.herokuapp.com/', data-layout='standard', data-action='like', data-show-faces='false', data-share='true')
                        p.
                            <a href="mailto:yiren@asu.edu&cc=Houpu.Yao@asu.edu&subject=Feedback on Impressionist">Let us know how we can improve:)</a><br>
                            Developed by Max Yi Ren, Hope Yao and Fabian Gadau, Design Informatics Lab, Arizona State University, 2015<br>
                            Disclaimer: No personal information is collected. <a>Game data</a> will be used in current research at
                            <a href="http://www.public.asu.edu/~yren32">DILab</a>.
    script(src="stylesheets/bootstrap/js/bootstrap.min.js")
    script(src="javascripts/gamescripts/game_cmp.js")
