doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatibl',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')

    meta(name="description" content="")
    meta(name="author" content="")

    title= title
    link(rel='stylesheet', href='stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/jquery-2.1.3.min.js')
    script(src='javascripts/jquery.autocomplete.min.js')
    script(src='javascripts/obj.autocomplete.js')
    script(src="javascripts/threejs/Three.js")
    script(src="javascripts/js/controls/MouseControls.js")
    script(src="javascripts/js/Detector.js")
    //script(src="javascripts/js/loaders/BinaryLoader.js")
    //script(src="javascripts/js/libs/dat.gui.min.js")
    //script(src="javascripts/js/effects/VREffect.js")
    //script(src="javascripts/js/controls/VRControls.js")
    script(src='/socket.io/socket.io.js')

    meta( property='og:title', content='Facebook Open Graph META Tags')
    meta( property='og:image', content='http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png')
    meta( property='og:site_name', content='David Walsh Blog')
    meta( property='og:description', content='Facebook Open Graph')

body
    block content