//
   Created by p2admin on 11/25/2015.
.zoomable(style='-webkit-transform: translate3d(0,0,0);overflow: hidden;')
    img(src='http://i.telegraph.co.uk/multimedia/archive/01842/landscape-rainbow_1842437i.jpg')
script(src="javascripts/zoomtest.js")

