.menu {
    position: fixed;
    top: 10px;
    right: 10px;
}
.button {
    display: inline-block;
    padding: 8px;
    color: #FFF;
    background-color: #555;
}
.button.enabled {
    background-color: rgb(18, 36, 70);
}
.button:hover {
    cursor: pointer;
    background-color: rgb(18, 36, 70);
}
.button.error {
    pointer-events: none;
    background-color: red;
}

/***************** INTERFACE *******************/
#game {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*background-color: white;*/
    display: none;
    z-index: 0;
 }

#wait {
    /*position: absolute;*/
    display: none;
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #f5f5ff;*/
    /*color: #333333;*/
    /*-webkit-transition: background-color 0.5s, -webkit-transform 0.5s;*/
    /*transition: background-color 0.5s, transform 0.5s;*/
}

#continue {
    display: none;
}


#title {
    position: absolute;
    /*width: 100%;*/
    height: 30px;
    z-index: 5;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

#menu {
    position: absolute;
    width: 100%;
    height: 50px;
}

#select {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #cccccc;
    border-radius: 5px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    z-index: 5;
}

#time {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #cccccc;
    border-radius: 5px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    z-index: 5;
}

#timebar {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #333333;
    color: #cccccc;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
    z-index: 5;
}

#score {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #cccccc;
    border-radius: 5px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    z-index: 5;
}

#bar {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #f5f5ff;
    color: #cccccc;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
    z-index: 5;
}

#bar.active {
    background-color: #333333;
}

#guessinput, #guessoutput {
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: #f5f5ff;
    color: #333333;
    border-radius: 5px;
    border: 0;
    padding: 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
}

#guessinput {
    z-index: 5;
}
#guessinput:focus {
    outline: none !important;
    border: 0;
    box-shadow: inset 0 0 5px #333333;
}
#guessoutput {
    z-index: 2;
}


#model {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    outline: none !important;
}





/* From bootstrap cover template */
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #eeeeee;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #222;
    border: 1px solid #222;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #eee;
    color: #222;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.25);*/
    overflow: hidden;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.25);*/
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.25);*/
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead {
    z-index: 1;
}
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #222; /* IE8 proofing */
    color: rgba(0,0,0,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #333;
    border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #222;
    border-bottom-color: #222;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #333; /* IE8 proofing */
    color: rgba(0,0,0,.5);
    z-index: 1;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 900px;
    }
}
/* From bootstrap cover template */