body {
    font-family: Monospace;
    background-color: #0000ff;
    margin: 0px;
    overflow: hidden;
    cursor: none;
}
.menu {
    position: fixed;
    top: 10px;
    right: 10px;
}
.button {
    display: inline-block;
    padding: 8px;
    color: #FFF;
    background-color: #555;
}
.button.enabled {
    background-color: rgb(18, 36, 70);
}
.button:hover {
    cursor: pointer;
    background-color: rgb(18, 36, 70);
}
.button.error {
    pointer-events: none;
    background-color: red;
}